version: 2.1

##############################################################################
# Reusables
##############################################################################
build_binary_params: &build_binary_params
  parameters:
    docker_image:
      type: string
      default: ""
    cuda_version:
      type: string
      default: ""
    cudnn_version:
      type: string
      default: "8"
    python_version:
      type: string
      default: ""
    torch_version:
      type: string
      default: ""
  environment:
    DOCKER_IMAGE: << parameters.docker_image >>
    CUDA_VERSION: << parameters.cuda_version >>
    CUDNN_VERSION: << parameters.cudnn_version >>
    PYTHON_VERSION: << parameters.python_version >>
    TORCH_VERSION: << parameters.torch_version >>

commands:
  git_update_submodules: &git_update_submodules
    description: Update submodules of clone
    steps:
      - run:
          name: Update submodule
          command: git submodule sync && git submodule update --init
  setup_env: &setup_env
    description: Setup the build environment
    steps:
      - run:
          name: Install dependencies
          command: |
            # derived environment variables
            export CUDA_VERSION_SHORT=$(echo ${CUDA_VERSION} | sed -E 's/([0-9]+)\.([0-9]+).*/\1.\2/')
            # apt-get and conda
            apt-get update -y
            DEBIAN_FRONTEND=noninteractive apt-get install -y wget curl git-all ninja-build
            cd /tmp
            wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
            chmod +x Miniconda3-latest-Linux-x86_64.sh && ./Miniconda3-latest-Linux-x86_64.sh -b
            export "PATH=~/miniconda3/bin:$PATH" && conda init bash && . $HOME/miniconda3/etc/profile.d/conda.sh
            # python dependencies
            conda create -n pyenv -y python=${PYTHON_VERSION} setuptools pytorch=${TORCH_VERSION} cudatoolkit=${CUDA_VERSION_SHORT} -c pytorch
  build_package: &build_package
    description: Build PyPose package of specified type
    parameters:
      build_tag:
        type: string
        default: "dev"
      dist_type:
        type: string
        default: "bdist_wheel"
      max_jobs:
        type: integer
        default: 1
    steps:
      - run:
          name: Build PyPose package (<< parameters.dist_type >>)
          no_output_timeout: 30m
          command: |
            echo $PATH
            export "PATH=~/miniconda3/bin:$PATH" && conda init bash && . $HOME/miniconda3/etc/profile.d/conda.sh
            conda activate pyenv
            export MAX_JOBS=<< parameters.max_jobs >>
            mkdir -p dist
            python3 setup.py egg_info --tag-build=<< parameters.build_tag >> << parameters.dist_type >>

##############################################################################
# Job specs
##############################################################################
jobs:
  linux_build_wheel:
    <<: *build_binary_params
    docker:
      - image: nvidia/cuda:<< parameters.cuda_version >>-cudnn<< parameters.cudnn_version >>-devel-ubuntu20.04
    resource_class: large
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - setup_env
      - checkout
      - git_update_submodules
      - build_package
      - store_artifacts:
          path: dist
          destination: wheels
      - persist_to_workspace:
          root: .
          paths: [dist]
  build_docs:
    <<: *build_binary_params
    docker:
      - image: nvidia/cuda:<< parameters.cuda_version >>-cudnn<< parameters.cudnn_version >>-devel-ubuntu20.04
    resource_class: medium
    steps:
      - setup_env
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Build PyPose documentation
          command: |
            export "PATH=~/miniconda3/bin:$PATH" && conda init bash && . $HOME/miniconda3/etc/profile.d/conda.sh
            conda activate pyenv
            pip install dist/pypose-*.whl
            cd docs
            pip install -r requirements.txt
            make dirhtml
            tar -czvf build/docs.tar.gz build/dirhtml/*
      - store_artifacts:
          path: docs/build/docs.tar.gz
          destination: sphinx-docs.tar.gz
      - run:
          name: Trigger pypose.github.io rebuild
          command: |
            curl -X POST -H "Authorization: token ${PYPOSE_ORG_AUTH}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/pypose/pypose.github.io/dispatches \
            -d "{
              \"event_type\": \"circle-ci-build\",
              \"client_payload\": {
                \"job_num\": \"${CIRCLE_BUILD_NUM}\",
                \"file_name\": \"docs.tar.gz\",
                \"pr_num\": \"${CIRCLE_PULL_REQUEST##*/}\"
              }
            }"


##############################################################################
# Workflows
##############################################################################
workflows:
  version: 2
  build:
    jobs:
      - linux_build_wheel:
          cuda_version: "11.3.1"
          torch_version: "1.11.0"
          python_version: "3.8"
      - build_docs:
          requires: [linux_build_wheel]
          cuda_version: "11.3.1"
          torch_version: "1.11.0"
          python_version: "3.8"
